/*
 * Globals
 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@media (min-width: 48em) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', "Helvetica Neue", Helvetica, Arial, serif;
    color: #424242;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', "Helvetica Neue", Helvetica, Arial, serif;
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
    max-width: 60rem;
}

.pull-right {
    float: right !important;
}


/*
 * Masthead for nav
 */

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #448AFF;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}


/* Nav links */

.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
    font-size: 1.2rem;
}

.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}


/* Active state gets a caret at the bottom */

.nav-link.active {
    color: #fff;
}

.nav-link.active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -.3rem;
    vertical-align: middle;
    content: "";
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid;
    border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}

.blog-title {
    margin-bottom: 0;
    font-size: 1.35rem;
    font-weight: normal;
    color: #000;
}

.blog-description {
    margin-top: .5rem;
    font-size: 1rem;
    color: #78909C;
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 2.2rem;
    }
}


/*
 * Main column and sidebar layout
 */


/* Sidebar modules for boxing content */

.sidebar-module {
    padding: 1rem;
    /*margin: 0 -1rem 1rem;*/
}

.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */

.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination>.btn {
    border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 1.1rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}


/*
 * Footer
 */

.blog-footer {
    padding: .5rem 0;
    color: #8D6E63;
    text-align: center;
    background-color: #F5F5F5;
    border-top: .05rem solid #E0E0E0;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

/*
 * My Style
 */
 
.table th,
.table td {
  padding: 0.5rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
    background-color: #FFF59D;
}

.table-success,
.table-success > th,
.table-success > td {
    background-color: #9CCC65;
}

.text-info {
    color: #0097A7 !important;
}
